<a href="/">
  <i class="fa-fa-home"></i>
</a>

<h1>{{ message }}</h1>

<ul>
  {{#each filmData}}
  <video controls>
        <source src="./videos/{{ video_name }}" type="videos/mp4">
          <!--should load in the fallback sources here-->
      </video>
    <li>
      <img src="'/images/' + {{ video_name }}" type="videos/jpg" alt="Cover" />
      <h4>{{ video_name }}</h4>
      <p>{{ video_description }}</p>
    </li>
  {{/each}}
</ul>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
