<a href="/">
  <i class="fa-fa-home"></i>
</a>

<h1>{{ message }}</h1>

<ul>
  {{#each filmData}}

    <li>
      <video controls autoplay>
            <source src="/videos/{{ video_name }}.mp4" type="videos/mp4">
              <!--should load in the fallback sources here-->
          </video>
      <img src="/images/{{ video_name }}.jpg" alt="Cover" />
      <h4>{{ video_name }}</h4>
      <p>{{ video_description }}</p>
    </li>
  {{/each}}
</ul>

<img src="images/footer-logo.png" alt="Footer Logo" id="footerlogo">
